/* Empty. Add your own CSS if you like */
.nopadding{
  padding: 0px;
}

.nopaddinglist .item-content{
  padding: 16px !important;
}

.nomargin{
  margin-top:0px !important;
  margin-bottom: 0px !important;
}

.full{
  width: 100%;
}

.circle{
  border-radius: 50%;
  background-color: #007aff;
  color: white;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  text-align: center;
}

.song_list_item_title{
  margin-top: 10px !important;
}
.bookmarked{
  text-align: center;
  margin-top: 10px;
}

.noresults{
  text-align: center;
  margin-top: 25%;
}

.mybigbutton{
  font-size: 25px !important;
}

.centeredIcon{
  text-align: center;
  margin: 0px auto !important;
}


/*Dark theme*/
.darktheme .menu{
  background-color: #444444;
  color: white;
}

.darktheme .bar.bar-stable{
  border-color: #a5a5a5;
  background-color: #212121;
  background-image: linear-gradient(0deg, #212121, #212121 50%, transparent 50%);
  color: white;
}

.darktheme .bar.bar-stable .title{
  color: white;
}

.darktheme .item{
  border-color: #a5a5a5;
  background-color: #444444;
  color: white;
}

.darktheme .item-complex .item-content, .item-radio .item-content {
  background-color: #444444;
}

.darktheme .bar-stable .button.button-clear {
  color: white;
}

.darktheme .song_list_item_title{
  color:white;
}

.darktheme .circle{
  border-radius: 50%;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  text-align: center;
}

.darktheme .button.button-positive {
  border-color: white;
  background-color: white;
  color: black;
}

.darktheme .song_content{
  background-color:#444444;
  color:white;
}

.darktheme .scroll-content, .darktheme .bar{
  background-color:#444444;
}

.darktheme .scroll-bar-indicator {
  position: absolute;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.darktheme .noresults h4{
  color: white;
}

/*Animations*/

.songItem.ng-enter {
  -webkit-animation: fadeInLeft 0.2s;
  animation: fadeInLeft 0.2s;
}
.songItem.ng-enter-stagger {
  -webkit-animation-delay:20ms;
  animation-delay:20ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.songItem.ng-leave{
  -webkit-animation: fadeOut 0.2s;
  animation: fadeOut 0.2s;
}


.homeImage.ng-leave {
  -webkit-animation: fadeOutUp 0.3s;
  animation: fadeOutUp 0.3s;
}


.paquito{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  padding-bottom: 30px;
}


/* Home */
.homeImageContainer{
  height: 250px;
}

.spinnerContainer{
  text-align: center;
  padding-top: 50px;
}

.homeImage{
  width: 100%;
  min-height: 250px;
  padding-top: 30px;
  text-align: center;
  color: white;
}

.homeBack1{
  background: url(/img/image1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack2{
  background: url(/img/image2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack3{
  background: url(/img/image3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack4{
  background: url(/img/image4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack5{
  background: url(/img/image5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack6{
  background: url(/img/image6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack7{
  background: url(/img/image7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack8{
  background: url(/img/image8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack9{
  background: url(/img/image9.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack10{
  background: url(/img/image10.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeCircle{
  border-radius: 50%;
  background-color: #007aff;
  color: white;
  width: 100px;
  height: 100px;
  padding-top: 36px;
  text-align: center;
  margin: 0px auto 15px auto;
  display: block;
  font-size: 2.7em;

}

.homeSubtitle{
  margin-bottom: 10px;
  background-color:rgba(0, 0, 0, 0.3);
  padding: 3px 7px;
  display: inline-block;
}

.homeTitle h3{
  color: white;
  padding: 3px 7px;
  display: inline-block;
}



