/* Empty. Add your own CSS if you like */
.nopadding{
  padding: 0px;
}

.nopaddinglist .item-content{
  padding: 16px !important;
}

.nomargin{
  margin-top:0px !important;
  margin-bottom: 0px !important;
}

.full{
  width: 100%;
}

.circle{
  border-radius: 50%;
  background-color: #007aff;
  color: white;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  text-align: center;
}

.song_list_item_title{
  margin-top: 10px !important;
}
.bookmarked{
  text-align: center;
  margin-top: 10px;
}
