/* Empty. Add your own CSS if you like */
.nopadding{
  padding: 0px;
}

.nopaddinglist .item-content{
  padding: 16px !important;
}

.nomargin{
  margin-top:0px !important;
  margin-bottom: 0px !important;
}

.full{
  width: 100%;
}

.circle{
  border-radius: 50%;
  background-color: #007aff;
  color: white;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  text-align: center;
}

.song_list_item_title{
  margin-top: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bookmarked{
  text-align: center;
  margin-top: 10px;
}

.noresults{
  text-align: center;
  margin-top: 25%;
}

.mybigbutton{
  font-size: 25px !important;
}

.centeredIcon{
  text-align: center;
  margin: 0px auto !important;
}


.song_content{
  padding: 5px 10px;
}

/*Dark theme*/
.darktheme .menu{
  background-color: #444444;
  color: white;
}


.darktheme .item{
  border-color: #a5a5a5;
  background-color: #444444;
  color: white;
}

.darktheme .item-complex .item-content, .item-radio .item-content {
  background-color: #444444;
}


.darktheme .song_list_item_title{
  color:white;
}

.darktheme .circle{
  border-radius: 50%;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  text-align: center;
}

.darktheme .button.button-positive {
  border-color: white;
  background-color: white;
  color: black;
}

.darktheme .song_content{
  background-color:#444444;
  color:white;
}

.darktheme .scroll-content, .darktheme .bar{
  background-color:#444444;
}

.darktheme .scroll-bar-indicator {
  position: absolute;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.darktheme .noresults h4{
  color: white;
}

/*Animations*/

.songItem.ng-enter {
  -webkit-animation: fadeInLeft 0.2s;
  animation: fadeInLeft 0.2s;
}
.songItem.ng-enter-stagger {
  -webkit-animation-delay:20ms;
  animation-delay:20ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.songItem.ng-leave{
  -webkit-animation: fadeOut 0.2s;
  animation: fadeOut 0.2s;
}


.homeImage.ng-leave {
  -webkit-animation: fadeOutUp 0.3s;
  animation: fadeOutUp 0.3s;
}



/* Home */
.homeImageContainer{

}

.spinnerContainer{
  text-align: center;
  padding-top: 50px;
}

.homeImage{
  width: 100%;
  text-align: center;
  color: white;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;

}

.homeBack1{
  background:url(/img/image1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.homeBack2{
  background: url(/img/image2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack3{
  background: url(/img/image3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack4{
  background: url(/img/image4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack5{
  background: url(/img/image5.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack6{
  background: url(/img/image6.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack7{
  background: url(/img/image7.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack8{
  background: url(/img/image8.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack9{
  background: url(/img/image9.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeBack10{
  background: url(/img/image10.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homeCircleContainer{
  display: table;
  margin: 20% auto 10px auto;
}

.homeCircle{
  border-radius: 50%;
  border: solid 2px #ffffff;
  color: white;
  width: 150px;
  height: 150px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 5em;
  font-weight: 200;
}

.homeSubtitle{
  margin-top: 5%;
  margin-bottom: 10%;
  background-color:rgba(0, 0, 0, 0.3);
  padding: 3px 7px;
  display: inline-block;
}

.homeSubtitle h4{
  color: white;
}

.homeTitle h1{
  color: white;
  padding: 3px 7px;
  display: inline-block;
  font-weight: 200;
}

.bodyVerse{
  font-weight: 200;
  font-size: 1.4em;
  color: white;
  text-align: center;
}


h3.s, h3.d{
  font-size: 0.9em;
}

.homeFooter{
  height: auto;
  padding-top:15px;
  padding-bottom:15px;
}

.containerVerse{
  display: block;
  width: 100%;
  padding: 5px 15px;
  font-size: 0.85em;
  line-height: 0.9em;
}

.verse-content{
  line-height: 1em;
  font-weight: 200;
  font-size: 1.05em;
}

.verse-book{
  margin-top: 5%;
  font-style: italic;
  opacity: 0.8;
}

.custom-sidebar-footer{
  background-color: transparent !important;
  border:none;
  background-image: none !important;
  height: auto;
  position: absolute;
  z-index: 2147483647;

}

.custom-sidebar-footer .image-container .logo{
  display: block;
  width: 60%;
  margin: 0px auto;
}

.verseSeparator{
  border-top: solid 1px white;
  width: 50%;
  margin:0px auto 5% auto;
  height: 1px;
}




